{% extends "layout/base.html" %}

{% block pagetitle %}
{{super()}} Login
{% endblock %}


{% block title %} Login {% endblock %}


{% block content %}
<div class="half-600">
    <article class="card">
        <footer>
            <form action="/user-log" method="POST">
                {{ form.csrf_token }}
                <fieldset class="flex one">
                    <label> {{ form.email }} </label>
                    <label> {{ form.password }} </label>
                </fieldset>
                {{ form.submit }}
            </form>
        </footer>
    </article>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <article class="card">
        <header>
            <h3>{{ message }}</h3>
        </header>
    </article>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}