{% extends "layout/base.html" %}

{% block pagetitle %}
{{super()}} Sign in
{% endblock %}


{% block title %} Sign in {% endblock %}


{% block content %}
<div class="half-600">
    <article class="card">
        <footer>
            <form action="/add-user" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <fieldset class="flex one">
                    <div class="half" style="margin: 0 auto;">
                        <!-- this div just for demo display -->
                        <label class="dropimage ">
                            {{ form.img }}
                        </label>
                    </div>
                    <label> {{ form.nickname }} </label>
                    <label> {{ form.email }} </label>
                    <label> {{ form.password }} </label>
                </fieldset>
                {{ form.submit }}
            </form>
        </footer>
    </article>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <article class="card">
            <header>
                <h3>{{ message }}</h3>
            </header>
        </article>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}