<div class="third-600">
    <form action="">
        <fieldset class="flex one">
            <label><input type="text" placeholder="Search" /></label>
        </fieldset>
    </form>

    <article class="card">
        <header>
            <h3>Categories</h3>
        </header>
        <footer>
            <ul>
                {% for cat in cats %}
                <li><a href="{{ url_for('category', cat_name = cat.name) }}"> {{ cat.name }} </a></li>
                {% endfor %}
            </ul>
        </footer>
    </article>
</div>