{% extends "layout/base.html" %}

{% block pagetitle %}
{{super()}} Administration
{% endblock %}


{% block title %} Administration {% endblock %}


{% block content %}
{% include "admin/layout/admin-options.html" %}
<div class="two-third-600">
    <article class="card">
        <header>
            <h3> Your reviews </h3>
        </header>
        <footer>
            <a href="{{ url_for('newReview', user_id = user.id) }}" class="button success">New review</a>
            <div style="overflow: scroll;">


                <table class="primary" style="overflow-x: scroll !important; width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                        <tr>
                            <td>{{ review.id }}</td>
                            <td><a href="{{ url_for('review', review_title = review.title, id = review.id) }}">
                                    {{ review.title }} </a></td>
                            <td> {{ review.id_cat }} </td>
                            <td> {{ review.created_at }} </td>
                            <td>
                                <a href="{{ url_for('editReview', id = review.id ) }}" class="button warning">Edit</a>
                                <label for="modal_1" class="button error">Delete</label>

                                <div class="modal">
                                    <input id="modal_1" type="checkbox" />
                                    <label for="modal_1" class="overlay"></label>
                                    <article>
                                        <header>
                                            <h3>Delete review</h3>
                                            <label for="modal_1" class="close">&times;</label>
                                        </header>
                                        <section class="content">
                                            Are you sure you want to delete this post? You will never see it again!
                                        </section>
                                        <footer>
                                            <a href="{{ url_for('deleteReview', id = review.id) }}"
                                                class="button error">Continue</a>
                                            <label for="modal_1" class="button">
                                                Cancel
                                            </label>
                                        </footer>
                                    </article>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p>Paginación</p>
        </footer>
    </article>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <article class="card">
        <header>
            <h3>{{ message }}</h3>
        </header>
    </article>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% endblock %}