{% extends "layout/base.html" %}

{% block pagetitle %}
{{super()}} New post
{% endblock %}


{% block title %} New post {% endblock %}


{% block content %}
<div class="half-600">
    <article class="card">
        <footer>
            <form action="/post-review" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="half" style="margin: 0 auto;">
                    <!-- this div just for demo display -->
                    Add image
                    <label class="dropimage ">
                        {{ form.img }}
                    </label>
                </div>
                <fieldset class="flex one">
                    <label> <input id="id_user" name="id_user" required type="hidden" value="{{ user.id }}"> </label>
                    
                    <label>{{ form.title }}</label>
                </fieldset>

                <div>
                    {{ form.category }}
                </div>
                <br>
                
                {{ form.content }}

                {{ form.submit }}
                <a href="{{ url_for('myPosts', id = user.id) }}" class="button error">Exit</a>
            </form>
        </footer>
    </article>
</div>
{% endblock %}