{% extends "layout/base.html" %}

{% block pagetitle %}
{{super()}} Administration - User
{% endblock %}


{% block title %} User {% endblock %}


{% block content %}
{% include "admin/layout/admin-options.html" %}
<div class="two-third-600">
    <article class="card">
        <header>
            <h3> Your data </h3>
        </header>
        <footer>
            <article class="card third-600" style="margin: 0 auto;">
                <footer>
                    <img style="width: 100%;"
                        src="{{ url_for('static', filename = user.img) }}"
                        alt="user photo">
                    <ul>
                        <li>Username: {{ user.nickname }}</li>
                        <li>Email: {{ user.email }}</li>
                    </ul>
                </footer>
            </article>
        </footer>
    </article>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <article class="card">
        <header>
            <h3>{{ message }}</h3>
        </header>
    </article>
    {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}