main{
    padding: 0 5%;
    background: whitesmoke;
    min-height: 600px !important;
}
ul{
    list-style: none;
}

.footer{
    background-color: black;
    width: 100%;
    padding: 10px 25px;
}
.footer p{
    color: white;
    text-align: center;
}
.footer img{
    width: 30%;
}

@media (max-width: 600px) {
    .card{
        width: 100%;
    }
    #cats{
        order: 1;
    }
    #reviews{
        order: 2;
    }
}

/*----------  Dark mode  -----------*/
.html-dark{
    
    filter: invert(90%);
}
.html-dark img, .html-dark .dropimage{
    filter: invert(100%);
}

.html{
    filter: invert(0%);
}