{% extends "layout/base.html" %}


{% block pagetitle %}
{{super()}} Inicio
{% endblock %}


{% block title %} GameViewer new reviews {% endblock %}


{% block content %}

<div class="two-third-600">
    <div class="flex two-600">
        {% for review in reviews %}
        <div>
            <article class="card">
                <img style="width: 100%; max-height: 250px;"
                    src="{{ url_for('static', filename = 'img/travel.jpg' ) }}" alt="post img">
                <header>
                    <h3><a href="{{ url_for('review', review_title = review.title, id = review.id) }}"> {{ review.title }} </a></h3><br>
                    <h4>Author: {{ review.id_user }} </h4>
                    <h4> Category: {{ review.id_cat }} </h4>
                    <h4>Date</h4>
                </header>
            </article>
        </div>
        {% endfor %}
    </div>
    <p>Paginación</p>
</div>
{% include "layout/categories-card.html" %}

{% endblock %}