{% extends "layout/base.html" %}


{% block pagetitle %}
{{super()}} Review
{% endblock %}


{% block title %} {{ review.title }} {% endblock %}


{% block content %}

<div class="two-third-600">
    
    <article class="card">
        <header>
            <img style="width: 100%; max-height: 400px;" src="{{ url_for('static', filename = review.img) }}" alt="game photo">
        </header>
        <header>
            <img style="width: 50px; border-radius: 100%; vertical-align: middle;" src="{{ url_for('static', filename = rev_author.img) }}" alt="author-img">
            <h4>Author: {{ rev_author.nickname }} </h4>
            <h4>Category: {{ rev_cat }} </h4>
            <h4>{{ review.created_at }}</h4>
        </header>
        <footer>
            {{ review.content }}
        </footer>
    </article>
</div>
{% include "layout/categories-card.html" %}

{% endblock %}