{% extends "layout/base.html" %}


{% block pagetitle %}
{{super()}} Review
{% endblock %}


{% block title %} {{ review.title }} {% endblock %}


{% block content %}

<div class="two-third-600">
    
    <article class="card">
        <header>
            <img style="width: 100%; max-height: 400px;" src="https://as.com/meristation/imagenes/2020/07/22/noticias/1595425538_731763_1595425655_noticia_normal.jpg" alt="game photo">
        </header>
        <header>
            <img style="width: 50px; border-radius: 100%; vertical-align: middle;" src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg" alt="author-img">
            <h4>Author: {{ review.id_user }} </h4>
            <h4>Category: {{ review.id_cat }} </h4>
            <h4>Date</h4>
        </header>
        <footer>
            {{ review.content }}
            <p>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae mollis leo. Ut molestie sapien vel efficitur egestas. Suspendisse tristique sodales augue, ut volutpat augue sodales quis. Sed at lobortis ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In varius luctus cursus. Cras tempus tortor non eleifend cursus. Sed quis porttitor nibh. Vivamus tincidunt turpis sit amet orci molestie, ac gravida sapien malesuada. Aliquam eu velit id augue aliquam feugiat. Aenean scelerisque nunc porta ex blandit accumsan.
                
                Curabitur aliquam orci et sollicitudin facilisis. Aliquam vulputate, ex sed commodo molestie, libero diam pretium eros, nec lobortis lorem augue vel ex. Curabitur iaculis ligula volutpat pharetra efficitur. Ut vehicula magna eget turpis consequat malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque consequat mauris efficitur nunc imperdiet, in cursus nisi luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris orci augue, dignissim vel placerat sed, gravida sed ligula. Vestibulum dolor lectus, fermentum sit amet ante sed, lacinia convallis ante. Donec lorem nisi, ultrices non purus vel, dignissim tincidunt nisi.
                
                Fusce a sapien scelerisque, hendrerit quam ac, facilisis massa. Proin interdum, nibh eget finibus rutrum, elit augue pellentesque nisl, nec porta augue nunc non ligula. Maecenas suscipit gravida justo finibus rutrum. Vivamus placerat scelerisque magna, ac ultrices nulla aliquam id. Sed imperdiet maximus nunc, sit amet blandit tortor scelerisque id. Curabitur in arcu viverra nisl lacinia sollicitudin. Nunc faucibus at nunc in vehicula. In ultrices turpis dolor, ac faucibus felis lacinia ornare. Phasellus condimentum dolor sapien, vel facilisis neque eleifend vel. Integer auctor diam nec ornare euismod. Proin augue arcu, faucibus nec aliquam at, euismod non turpis. Pellentesque lacus augue, pellentesque id augue vel, eleifend volutpat odio.
                
                Maecenas et massa sem. Aliquam ornare sed dui eget sodales. Etiam dignissim pharetra dignissim. Aliquam felis turpis, porttitor vitae ornare vel, scelerisque quis erat. Sed a tincidunt nunc. Integer elit felis, accumsan non consectetur et, molestie at ligula. Mauris laoreet, turpis sit amet aliquam interdum, ipsum lectus accumsan leo, quis maximus libero arcu a enim. Fusce varius sodales ultrices. Suspendisse rhoncus condimentum consequat. Sed sit amet tellus id enim sagittis rutrum. Morbi in scelerisque metus. Vivamus malesuada luctus lorem sit amet auctor.
                
                Sed massa est, tincidunt nec pharetra vel, commodo sed massa. Proin id porta nisi. Proin massa ex, imperdiet non felis pulvinar, rutrum auctor sapien. Curabitur felis turpis, porta ac mauris quis, hendrerit gravida ipsum. Vestibulum mi eros, egestas a pellentesque sit amet, molestie nec eros. Suspendisse ullamcorper, diam a finibus egestas, lorem eros rhoncus mauris, a posuere nunc mi quis velit. Vestibulum sagittis nulla imperdiet, vestibulum purus sed, maximus elit. Pellentesque suscipit porttitor semper.
                
                Maecenas gravida vestibulum arcu sit amet lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ex nunc, convallis a felis in, porttitor sagittis neque. Morbi vehicula sapien libero, ut pellentesque leo sagittis tempus. In scelerisque, ex mollis imperdiet semper, est lorem vestibulum est, egestas porttitor dolor risus in ligula. Nam mattis libero a orci feugiat accumsan. Cras nisl sem, luctus vitae libero eget, aliquam consequat urna. Curabitur vitae mi ut nisl interdum semper id sed enim. Quisque ut posuere magna. Cras et auctor massa, eget pharetra lorem. Aenean maximus euismod mattis.
                
                In porta hendrerit imperdiet. Aliquam suscipit varius urna posuere gravida. Aenean auctor id magna nec venenatis. Nullam lectus leo, rhoncus nec turpis dignissim, efficitur suscipit lorem. Fusce vitae magna ultrices, blandit augue vitae, vehicula felis. Etiam viverra nibh fringilla risus elementum convallis. Donec quis porta mi. In eget leo quis dui finibus porttitor. Quisque aliquet ornare felis, vitae hendrerit ligula mattis et. Pellentesque vulputate volutpat accumsan. Cras vel accumsan odio, non rutrum sapien. Integer aliquam nibh ut massa euismod, ac tempus diam malesuada. Nulla nec placerat mauris. Ut blandit dolor enim, at dignissim quam fringilla sit amet. Maecenas feugiat eleifend fermentum. Duis imperdiet ante tellus, condimentum porttitor ante imperdiet a.
                
                Morbi aliquam velit quis vestibulum ullamcorper. Ut diam orci, molestie eu sagittis nec, faucibus et diam. Quisque finibus consectetur eros. In massa nulla, eleifend laoreet aliquam ac, pretium sed metus. In blandit mauris sed vulputate egestas. Nam sit amet velit eget metus egestas rutrum. Aenean non ex venenatis, commodo neque eu, mollis nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas pharetra urna id lectus volutpat, vitae imperdiet quam auctor.
                
                Nulla dictum aliquam leo, nec auctor lectus accumsan non. Praesent odio risus, facilisis vitae tortor vitae, ornare convallis ligula. In egestas ligula at porttitor euismod. Vivamus lobortis placerat elit, at fermentum urna accumsan ac. Pellentesque facilisis facilisis varius. Cras id volutpat diam. Donec risus augue, accumsan ac laoreet in, eleifend eget velit. Maecenas consequat sagittis lorem non bibendum. Nunc ultricies cursus dolor, eu consectetur arcu ornare in. Pellentesque at sodales augue.
                
                Donec nec sollicitudin purus. Nullam nulla orci, fermentum nec lorem eu, fringilla sagittis neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec non est congue, porttitor quam tincidunt, rhoncus sem. Integer non justo risus. Curabitur imperdiet non tortor vitae maximus. Fusce eros felis, euismod at augue in, suscipit vehicula leo. Integer nec euismod dui, non sodales dui. </p>
        </footer>
    </article>
</div>
{% include "layout/categories-card.html" %}

{% endblock %}